<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="domainUrl" value="https://uat.yeeoffice.cn"/>
    <add key="secret" value="QGnQC3Oj0Avi3f+CqXogHsUBeI13kIuVFUFFru0bWeepEqO6Dxt45W/WOftKVRV8YcZtlWS6IHyFMXs9bPI/VlfqPZADYo/D+Jab01pCf4TvWlsyfsVY/E9Qyif8FzhYt5RYzjttnLjDx3xAbPwkXg=="/>
  </appSettings>
</configuration>